.nav {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 7rem;
  margin-bottom: 5px;
  box-shadow: 0 4px 3px -5px #000000;
}

.linkStyles {
  text-decoration-line: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.logoBtn {
  font-size: 25px;
}

.logoBtn:hover {
  text-decoration-line: none;
}

.cartBtn {
  display: flex;
  gap: 2px;
}

.navBtnContainer {
  display: flex;
  gap: 1rem;
}

.navBtn {
  background-color: white;
  cursor: pointer;
  padding: 15px 18px;
  border-radius: 10px;
  border-style: none;
  font-size: 15px;
  font-weight: 700;
}

.navBtn:hover {
  background-color: #f1f5f9;
}
